<div class="footer footer-class">

<div class="row">

    <div class="col-12">

    </div>
</div>

<div class="row">
    <div class="col-8">
    <table class="footer-links">
        <tr>
            <td>
                About Us
            </td>
            <td>
                Privacy Policy
            </td>
            <td>
                Cookie Preference
            </td>

        </tr>
        <tr>
            <td>
                Contact Us
            </td>
            <td>
                Terms of Use
            </td>
            <td>
                FAQ
            </td>
            
        </tr>
    </table>
</div>
    <div class="col-4">
        <table>
            <tr>
                Sabha TV 2020 &copy; copyright
            </tr>
        </table>
    </div>
    </div>
</div>