
<ng-template #content let-modal>
          
    <div class="modal-body">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-lg-4">
          <img src="{{details['thumburl']}}" alt="detail_image" width="300" height="400">
        </div>
        <div class="col-lg-8"  >
          <!-- <h2>{{details.title| uppercase}}<i class="fas fa-star"></i></h2> -->
          <h2>{{details.title| uppercase}} ⭐</h2>
          
          <div class="row">
            <div class="col-lg-6">
              <p>{{details.maturityRating}}</p>
            </div>
            <div class="col-lg-6 release">
              <p>Release Date: {{details.releaseDate| date:'short'}}</p>
            </div>
          </div>
      <p>{{details.synopsis}}</p>
         
        <div class="row" >
          <div class="col-lg-8" *ngFor="let c of cast;let i=index">
            {{c.title }} :{{c.name }}

            </div>
            <div class="col-lg-2" >

            </div>
          </div>
                        
          <button type="button" class="btn btn-dark" (click)="play(media)"><i class="fas fa-play"></i> Play</button>
          <button type="button" class="btn btn-dark"><i class="fas fa-heart"></i></button>
          <button type="button" class="btn btn-dark"><i class="fas fa-share-alt"></i></button>
       
      </div>
         </div>
       </div>

  <div class="video-player-wrapper" >
    <vg-player>
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>
  
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
  
      <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>
  
        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
  
        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
  
        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        <vg-track-selector></vg-track-selector>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
  
        <vg-fullscreen></vg-fullscreen>
      </vg-controls>
  
      <video [vgMedia]="media" #media id="singleVideo" class="video1" preload="none" crossorigin>
      <source src="{{details.videourl}}" type="application/x-mpegURL">
      <!-- <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4"> -->
        </video>
    </vg-player>
  </div>
  </ng-template>
